.list-move,
.list-enter-active,
.list-leave-active {
  transition: all 0.2s ease-in-out;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(4px);
}

.list-leave-from,
.list-leave-to {
  opacity: 0;
}
/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  opacity: 0;
  position: absolute;
}
